services:
  app:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspace:cached
    ports:
      - "5173:5173"
    command: /bin/sh -c "while sleep 1000; do :; done"